/* INICIO ESTILOS SECCION INFO */

.contenedor-info {
    margin: 70px 50px 0px 70px;
    text-align: center;
}

.contenedor-info div h2 {
    font-family: CenturyGothic-Negrita;
    margin-bottom: 35px;
}

.contenedor-info div p {
    font-family: CenturyGothic-Normal;
}

/* FIN ESTILOS SECCION INFO */