@font-face {
    font-family: CenturyGothic-Normal;
    src: url(:/Fuentes/GOTHIC.TTF);
}

@font-face {
    font-family: CenturyGothic-Negrita;
    src: url(:/Fuentes/GOTHICB.TTF);
}

@font-face {
    font-family: CenturyGothic-Cursiva;
    src: url(:/Fuentes/GOTHICI.TTF);
}

@font-face {
    font-family: CenturyGothic-Cursiva-Negrita;
    src: url(:/Fuentes/GOTHICBI.TTF);
}