@font-face {
    font-family: CenturyGothic-Normal;
    src: url(fuentes/GOTHIC.TTF);
}

@font-face {
    font-family: CenturyGothic-Negrita;
    src: url(fuentes/GOTHICB.TTF);
}

@font-face {
    font-family: CenturyGothic-Cursiva;
    src: url(fuentes/GOTHICI.TTF);
}

@font-face {
    font-family: CenturyGothic-Cursiva-Negrita;
    src: url(fuentes/GOTHICBI.TTF);
}