/* INICIO ESTILOS SECCION US */

.contenedor-us {
    margin: 70px 50px 0px 70px;
    text-align: center;
}

.contenedor-us div h2 {
    font-family: CenturyGothic-Negrita;
}

.contenedor-us div p {
    font-family: CenturyGothic-Normal;
}

.amigos {
    width: 50%;
}

/* FIN ESTILOS SECCION US */